<div class="row">
  <div class="col-xs-12">
    <%= form_for(@user, :html => {class: "form-horizontal", role: "form", autocomplete: "off"}) do |f| %>
      <div class="form-group">
        <div class="col-sm-2 control-label">
          <%= f.label :username %> <br>
        </div>
        <div class="col-sm-8">
          <%= f.text_field :username, placeholder: "Enter username", class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-2 control-label">
          <%= f.label :email %> <br>
        </div>
        <div class="col-sm-8">
          <%= f.email_field :email, placeholder: "Enter email", rows: 10, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-2 control-label">
          <%= f.label :password %> <br>
        </div>
        <div class="col-sm-8">
          <%= f.password_field :password, placeholder: "Enter password", rows: 10, class: "form-control" %>
        </div>
      </div>

      <% if admin? %>
        <div class="form-group">
          <div class="col-sm-2 control-label">
            <%= f.label :admin %> <br>
          </div>
          <div class="col-sm-8">
            <%= f.check_box :admin %>
          </div>
        </div>
      <% end %>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <%= f.submit @user.new_record? ? "Sign up" : "Update account", class: "btn btn-primary btn-lg" %>
          <%= link_to 'Back', :back, class: "btn btn-md" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= render "shared/errors", obj: @user %>
