<% obj.each do |article| %>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="well well-lg">
        <div class="article-title">
          <%= link_to "#{article.title}", article_path(article) %>
        </div>
        <div class="article-body">
          <%= truncate(sanitize(article.description, tags:[]), length:110) %>
        </div>
        <div class="article-meta">
          <small>
            <%= if article.user then p "Created by #{article.user.username} | " end %>
            Created <%= time_ago_in_words(article.created_at) %> ago |
            Modified <%= time_ago_in_words(article.updated_at) %> ago
          </small>
        </div>
        <% if article.user == current_user && logged_in? %>
          <div class="article-actions">
            <%= link_to "Edit", edit_article_path(article), class: "btn btn-sm btn-primary" %>
            <%= link_to "Delete", article_path(article), class: "btn btn-sm btn-danger", method: :delete, data: {confirm: "Are you sure?"} %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
